USE [master]
GO
/****** Object:  Database [blogWebDb]    Script Date: 1.10.2020 11:11:07 ******/
CREATE DATABASE [blogWebDb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'blogWebDb', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\blogWebDb.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'blogWebDb_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\blogWebDb_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [blogWebDb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [blogWebDb]
GO
/****** Object:  Table [dbo].[tbl_deneyim]    Script Date: 1.10.2020 11:11:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tbl_deneyim](
	[ID] [smallint] IDENTITY(1,1) NOT NULL,
	[BASLIK] [varchar](50) NULL,
	[ALT_BASLIK] [varchar](50) NULL,
	[ACIKLAMA] [varchar](max) NULL,
	[TARIH] [varchar](50) NULL,
 CONSTRAINT [PK_tbl_deneyim] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tbl_egitim]    Script Date: 1.10.2020 11:11:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tbl_egitim](
	[ID] [smallint] IDENTITY(1,1) NOT NULL,
	[BASLIK] [varchar](50) NULL,
	[ALT_BASLIK] [varchar](50) NULL,
	[ACIKLAMA] [varchar](250) NULL,
	[GNOT] [varchar](10) NULL,
	[TARIH] [varchar](50) NULL,
 CONSTRAINT [PK_tbl_egitim] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tbl_hakkimda]    Script Date: 1.10.2020 11:11:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tbl_hakkimda](
	[ID] [smallint] IDENTITY(1,1) NOT NULL,
	[AD] [varchar](30) NULL,
	[SOYAD] [varchar](50) NULL,
	[ADRESS] [varchar](150) NULL,
	[MAIL] [varchar](50) NULL,
	[TELEFON] [varchar](20) NULL,
	[KISANOT] [varchar](max) NULL,
	[FOTOGRAF] [varchar](100) NULL,
 CONSTRAINT [PK_tbl_hakkimda] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tbl_hobiler]    Script Date: 1.10.2020 11:11:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tbl_hobiler](
	[ID] [smallint] IDENTITY(1,1) NOT NULL,
	[HOBI] [varchar](500) NULL,
 CONSTRAINT [PK_tbl_hobiler] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tbl_oduller]    Script Date: 1.10.2020 11:11:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tbl_oduller](
	[ID] [smallint] IDENTITY(1,1) NOT NULL,
	[ODULLER] [varchar](50) NULL,
 CONSTRAINT [PK_tbl_oduller] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tbl_yetenekler]    Script Date: 1.10.2020 11:11:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tbl_yetenekler](
	[ID] [smallint] IDENTITY(1,1) NOT NULL,
	[YETENEK] [varchar](50) NULL,
 CONSTRAINT [PK_tbl_yetenekler] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
USE [master]
GO
