
@{
    ViewBag.Title = "YeniIlgiAlani";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<h2>YeniIlgiAlani</h2>

<form class="form-group" method="post">
    <div>
        <label>Hobi</label>
        <input type="text" class="form-control" name="HOBI" />
    </div>
    <button class="btn btn-success btn-block" style="margin-top:5px">Ekle</button>
</form>
