
@{
    ViewBag.Title = "YeniOdul";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<h2>Yeni Odul Ekle</h2>
<form class="form-group" method="post">
    <div>
        <label>Ödül</label>
        <input type="text" class="form-control" name="ODULLER" />
    </div>
    <button class="btn btn-success btn-block" style="margin-top:5px">Ekle</button>
</form>
