
@{
    ViewBag.Title = "YeniYetenek";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<h2>YeniYetenek</h2>

<form class="form-group" method="post">
    <div>
        <label>Yetenek</label>
        <input type="text" class="form-control" name="YETENEK" />
    </div>
    <button class="btn btn-success btn-block" style="margin-top:5px">Ekle</button>
</form>

