
@{
    ViewBag.Title = "YeniEgitimEkle";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<h2>YeniEgitimEkle</h2>
<form class="form-group" method="post">
    <div>
        <label>Başlık</label>
        <input type="text" class="form-control" name="BASLIK" />
    </div>
    <div>
        <label>Alt Başlık</label>
        <input type="text" class="form-control" name="ALT_BASLIK" />
    </div>
    <div>
        <label>Açıklama</label>
        <input type="text" class="form-control" name="ACIKLAMA" />
    </div>
    <div>
        <label>GNOT</label>
        <input class="form-control" rows="10" name="GNOT">
    </div>
    <div>
        <label>TARIH</label>
        <input class="form-control" rows="10" name="TARIH">
    </div>

    <button class="btn btn-success btn-block" style="margin-top:5px">Ekle</button>
</form>
